[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pillow = "*"
opencv-python = "*"
pypiwin32 = "*"
dependency-injector = "*"
pytesseract = "*"

[requires]
python_version = "3.8"
